html {
  min-height: 100vh;
}
body {
  font-family: 'Ubuntu';
  font-weight: 400;
  color: #333;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
  min-height: calc(100vh - 2.4rem);
}
