html {
  min-height: 100vh;
}
body {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  color: #333;
  // min-height: 95vh;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
  // min-height: calc(100vh - 2.4rem);
  min-height: 96vh;
}
