.moviesGallery {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 24px;

  .movieCard {
    align-self: stretch;
    justify-self: center;
    margin: 5px 0;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #333;
    transition: all 0.2s ease-out;
    cursor: pointer;
    animation: fadein 0.5s;
    box-shadow: 0 0 #333;
    background-color: white;

    &:hover,
    &:focus {
      box-shadow: -5px 5px #333;
      transform: translate(5px, -5px);
      outline: none;
    }

    &:active {
      box-shadow: 0 0 #333;
      transform: translate(0);
    }

    h3 {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 1.5rem;
      max-width: 240px;
    }

    h3,
    p {
      margin: 5px auto;
    }

    img {
      width: 90%;
      max-width: 240px;
      margin: 10px 0;
      border: 1px solid #eee;
    }
  }
}

.noPoster {
  width: 200px;
  height: 299px;
  border: 1px solid #333;
  background-color: #333;
  color: whitesmoke;
  margin: 10px auto;
  text-align: center;

  p {
    padding: 40% 2%;
    margin: 0 auto;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
