.searchBar {
  font-size: 1.3rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;

  .searchBox {
    text-align: center;
    display: inline-block;
    margin: 0 5px 0 10px;
    line-height: 2.5;

    input {
      font-family: Ubuntu;
      font-weight: 400;
      text-align: center;
      border: 1px solid #333;
      box-shadow: -4px 4px #333;
      padding: 5px 5px;
    }
  }

  button {
    cursor: pointer;
    display: block;
    margin: 20px auto;
    padding: 5px 20px;
    border: 1px solid #111;

    background-color: #333;
    color: white;

    font-family: 'Bebas Neue';
    font-size: 1.4rem;
    letter-spacing: 2px;

    box-shadow: 0 0 #111;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;

    &:hover,
    &:focus {
      box-shadow: -4px 4px #111;
      transform: translate(4px, -4px);
    }
  }
}
