@import './partials/setup';
@import './partials/moviesGallery';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
  font-family: 'Ubuntu';
  font-weight: 400;
}

header {
  text-align: center;
  
  h1, h2 {
    color: #333;
  }
  
  h1 {
    display: inline-block;
    border: 2px solid #333;
    padding: 2%;
    box-shadow: -7px 7px #333;
  }
  
  
}


.searchBar {
  font-size: 1.3rem;
  text-align: center;
  // width: 30%;
  margin: 0 auto;
  
  
  .searchBox {
    text-align: center;
    display: inline-block;
    margin: 0 5px 0 10px;
    line-height: 2.5;
    
    input {
      // width: 50%;
      font-family: Ubuntu;
      font-weight: 400;
      // font-size: 19px;
      text-align: center;
      border: 1px solid #333;
      // border-bottom: 4px solid #333;
      box-shadow: -4px 4px #333;
      padding: 5px 5px;
    }
  }
  
  button {
    margin: 20px auto;
    display: block;
    border: 1px solid #111;
    background-color: #333;
    color: white;
    font-family: Ubuntu;
    font-size: 1.2rem;
    padding: 5px 20px;
    cursor: pointer;
    box-shadow: 0 0 #111;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    
    &:hover,
    &:focus {
      box-shadow: -4px 4px #111;
      transform: translate(4px, -4px);
    }
  }
}


